<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registation</title>
    <style>
        .errorMsg{
            color: red;
          }
        form ,.errorMsg{ 
            margin: 0 auto; 
            width:250px;
        }
        body{
            
            background-image:url("{% static 'images/login.jpg' %}");
            background-repeat:no-repeat;
            background-size:100%;
            
        }
    </style>
</head>
<body>
    <form  method="POST">
        {% csrf_token %}
        UserName :<br><input disabled type="text"  name="username" placeholder="user name" value="{{edit_user.username}}"><br>
       
        {% if 'success' in pageName %}
        First Name :<br><input type="text" name="first_name" placeholder="First Name" value="{{edit_user.first_name}}"><br>
        Last Name :<br> <input type="text" name="last_name" placeholder="Last Name" value="{{edit_user.last_name}}"><br>             
        Email:<br> <input type="email" name="email" placeholder="email" value="{{edit_user.email}}"><br>    
        Password : <br><input type="password" name="password1" placeholder="Password" value="{{edit_user.password}}"><br>
        Confirm Password :<br> <input type="password" name="password2" placeholder="Confrim Password" value="{{edit_user.password}}"><br>
        {% else %}
        First Name :<br><input type="text" name="first_name" placeholder="First Name" value=""><br>
        Last Name :<br> <input type="text" name="last_name" placeholder="Last Name" value=""><br>             
        Email:<br> <input type="email" name="email" placeholder="email" value=""><br>    
        Password : <br><input type="password" name="password1" placeholder="Password" value=""><br>
        Confirm Password :<br> <input type="password" name="password2" placeholder="Confrim Password" value=""><br>
      
        {% endif %}     
        <input type="submit">
    </form>   
    
    <div class="errorMsg">
        {%for msg in messages%}
           <h3>{{msg}}</h3>
        {%endfor%}
    </div>
</body>
</html>



